extends fo_layout

block content 
    .container-fluid.mt-3
        h5 Orders
        if orders
            table.table.table-striped.table-hover
                thead
                    tr
                        th.text-center(scope='col') #
                        //.text-center- th(scope="col") 
                        th.text-center(scope='col')
                        th.text-center(scope='col') Product                
                        th.text-center(scope='col') Units
                        th.text-center(scope="col") Total
                        th.text-center(scope='col') Customer
                        th.text-center(scope='col') Seller
                        th.text-center(scope='col') Payment Method
                        th.text-center(scope='col') Delivery
                        th.text-center(scope='col') Status



                tbody
                    each order,index in orders
                        tr 
                            td.text-center #{index+1}
                            td 
                                img(src="/"+order.produceimg width="35") 
                            td.text-center #{order.producename}                 
                            td.text-center #{order.quantity}
                            td.text-center #{new Intl.NumberFormat().format(order.price*order.quantity)}

                            - const email=order.customer.split(" ")
                            td.text-center #{email[1]}

                            if ufarmers
                                each farmer in ufarmers
                                    if order.seller==farmer._id 
                                        td.text-center #{farmer.firstname} #{farmer.lastname} 

                            td.text-center #{order.payment} 
                            td.text-center #{order.modeofdelivery} 

                            if order.status=="complete"                        
                                td 
                                    span.bg-success.badge.rounded-pill.d-flex.justify-content-center #{order.status}
                            else if order.status=="pending"                                 
                                td
                                    span.bg-warning.badge.rounded-pill.d-flex.justify-content-center #{order.status}
                            else                                 
                                td 
                                    span.bg-danger.badge.rounded-pill.d-flex.justify-content-center #{order.status} 

        p.muted
            | Placeholder text to demonstrate some 
            a(href='#' data-bs-toggle='tooltip' data-bs-title='Default tooltip') inline links
            |  with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of 
            a(href='#' data-bs-toggle='tooltip' data-bs-title='Another tooltip') real text
            | . And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you&apos;ve now seen how 
            a(href='#' data-bs-toggle='tooltip' data-bs-title='Another one here too') these tooltips on links
            |  can work in practice, once you use them on 
            a(href='#' data-bs-toggle='tooltip' data-bs-title='The last tip!') your own
            |  site or project.





