extends uf_layout.pug
//- extends ao_layout.pug 
block content 
    .container-fluid.mt-3
        //- select.form-select.mb-3
        //-     option(value="") Apply filter
        //-     option(value="farmerone") Farmer One
        //-     option(value="urbanfarmer") Urban Farmer 
        //-     //- option(value="generalpublic") General Public 

    if produce.length>0
        table.table.table-striped
            thead
                tr
                    th(scope='col') #
                    //- th(scope="col") 
                    th(scope='col') Preview
                    th(scope='col') Product
                    th(scope="col") Produce Type
                    th(scope='col') Price
                    th(scope='col') Mode of Delivery
                    th(scope='col') Payment Method
                    th(scope='col') Owner
                    th(scope='col') Quantity
                    th(scope='col') Availability

                    //- th.text-success(scope='col') Update
                    //- th.text-danger(scope='col') Delete


            tbody
                each product,index in produce
                    if product.status==="approved"
                        tr
                            th(scope='row') #{index+1}
                            td
                                img(src="/"+product.produceimg alt="" srcset="" height="35")
                            td #{product.producename}
                            td #{product.producetype}
                            td #{product.price}
                            td #{product.modeofdelivery}
                            td #{product.payment} 
                            td.fst-italic.text-muted #{product.fullname}
                            td #{product.quantity} 
                            if product.availability==="available"
                                td.text-success #{product.availability} 
                            else if product.availability==="booked"
                                td.text-warning #{product.availability}
                            else
                                td.text-info #{product.availability}

                            td                          
                                a(href="/uf/update/"+product._id)
                                    span.material-icons-outlined.ms-3  edit
                            //- td 
                            //-     form(action="/uf/delete" method="post")
                            //-         input(type="hidden" name="id" value=product.id)
                            //-         button.btn.btn-outline-danger.border-0(type="submit") 
                            //-             span.material-icons-outlined.ms-3  delete
    else 
        p.text-center No items in Database

