extends uf_layout.pug

block content 
    .container-fluid
        if produces.length>0

            .justify-content-center.d-flex.my-4
                .card.mx-3.border-primary.shadow
                    .card-body
                        h5.card-title Projected Ward Sales
                        .d-flex.justify-content-center.mt-3.top
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-primary.bg-primary.bg-opacity-10.rounded-circle(style="font-size:3rem") shopping_cart
                            .items 
                                h4 #{new Intl.NumberFormat().format(totalH.totalQuantity+totalD.totalQuantity+totalP.totalQuantity)} Units
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold #{totalH.totalQuantity}
                                h6 Dairy: 
                                    span.fw-bold #{totalD.totalQuantity}
                                h6 Poultry:
                                    span.fw-bold #{totalP.totalQuantity}

                .card.mx-3.shadow
                    .card-body
                        h5.card-title Projected Ward Revenue
                        .d-flex.justify-content-center.mt-3
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-success.bg-success.bg-opacity-10.rounded-circle(style="font-size:3rem") paid
                            .items 
                                h4 #{new Intl.NumberFormat().format( totalH.totalCost+totalD.totalCost+totalP.totalCost)} UGX
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold  #{new Intl.NumberFormat().format(totalH.totalCost)}
                                h6 Dairy: 
                                    span.fw-bold #{new Intl.NumberFormat().format(totalD.totalCost)}
                                h6 Poultry: 
                                    span.fw-bold #{new Intl.NumberFormat().format(totalP.totalCost)}

                .card.mx-3.border-warning.shadow
                    .card-body
                        h5.card-title Team
                        .d-flex.justify-content-center.mt-3.align-middle
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-warning.bg-warning.bg-opacity-10.rounded-circle(style="font-size:3rem") groups
                            .items 
                                h4 #{new Intl.NumberFormat().format(totalFO + totalUF + totalGP)} Users
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Farmer Ones: 
                                    span.fw-bold #{totalFO}
                                h6 Urban Farmers: 
                                    span.fw-bold #{totalUF}
                                h6 Customers: 
                                    span.fw-bold #{totalGP}

    .producttable.shadow
        .container-fluid.mt-3.p-4
            h5 Top Selling
            table.table.table-striped
                thead
                    tr
                        th(scope='col') #
                        //- th(scope="col") 
                        th(scope='col') Preview
                        th(scope='col') Product
                        th(scope="col") Produce Type
                        th(scope='col') Price/unit
                        th(scope='col') Owner
                        th(scope='col') Ward
                        th(scope="col") Details

                tbody
                    if produces.length>0
                        each product,index in produces
                            tr
                                th(scope='row') #{index+1}
                                td
                                    img(src="/"+product.produceimg alt="" srcset="" height="35")
                                td #{product.producename}
                                td #{product.producetype}
                                td #{new Intl.NumberFormat().format(product.price)}
                                td.fst-italic.text-muted #{product.fullname}
                                td #{product.ward} 
                                td 
                                    a(href="" data-bs-toggle="modal" data-bs-target="#productpage"+product._id)
                                        span.material-icons-outlined.ms-3  info

                                //-* Modal
                                .modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' id="productpage"+product._id)
                                    .modal-dialog.modal-dialog-centered.modal-lg
                                        .modal-content
                                            .modal-body
                                                .container-fluid.d-flex.flex-sm-row.justify-content-center
                                                    .body.p-5.d-flex.rounded
                                                        .img.me-3
                                                            img.rounded(src='/'+product.produceimg alt='' srcset='' width='300px' height='300px')
                                                        .details.ms-3
                                                            .title
                                                                h3.text-capitalize #{product.producename}
                                                                p.text-capitalize #{product.organic} #{product.producename}
                                                            .stars.my-2.text-warning
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star_half
                                                            .decription
                                                                h5 Lorem ipsum dolor sit amet.
                                                                p
                                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                    | Blanditiis soluta odit totam nam maiores in vel,
                                                                    | doloribus nulla ab esse!
                                                                p.btn.btn-outline-success.btn-sm.me-3 #{product.payment}
                                                                p.btn.btn-outline-success.btn-sm #{product.modeofdelivery}
                                                                p.text-capitalize #{product.availability}
                                                            //- .input-group.mb-3
                                                            //-     span#quantity.input-group-text Units
                                                            //-     input.form-control(type='number' value='1' aria-label='quantity' aria-describedby='quantity')
                                                            .price.fw-bold UGX #{product.price}/-
                                                            //- .my-2
                                                            //-     button.btn.btn-success(type='button')
                                                            //-         | Add to Cart


                    else 
                        tr 
                            th(scope="row") 0
                            td.text-center.text-danger(colspan="100") No Uploaded Produce



