extends uf_layout.pug
//- extends ao_layout.pug 

block content 
    .container-fluid.mt-3
        h3 My Uploaded Produce
        thead
            tr
                th(scope='col') #
                //- th(scope="col") 
                th(scope='col') Preview
                th(scope='col') Product
                th(scope="col") Produce Type
                th(scope='col') Price
                th(scope='col') Mode of Delivery
                th(scope='col') Payment Method
        tbody
            each product,index in produce
                tr
                    th(scope='row')=index+1
                    td
                        img(src="/"+product.produceimg alt="" srcset="" height="35")
                    td=product.producename
                    td=product.producetype
                    td=product.price
                    td=product.modeofdelivery
                    td=product.payment 
