extends uf_layout.pug

block content
    //- // Body
    #main
        .container-fluid.d-flex.justify-content-center.mt-5
            #main.card.main.d-flex.justify-content-center.flex-row
                .m-0.p-0
                    img(src="/"+produce.produceimg alt="update img" width="300px")
                .card-body.ms-3
                    if user
                        form#formAccountSettings(method='post' action="/uf/update/?id="+produce._id )
                            .row
                                .mb-3.col-md-4.input-field
                                    label.form-label(for='producetype') Produce Type
                                    select#producetype.select2.form-select(name="producetype")
                                        option(value='poultry' selected=produce.producetype==="poultry") Poultry
                                        option(value='dairy' selected=produce.producetype==="dairy") Dairy
                                        option(value='horticulture' selected=produce.producetype==="horticulture") Horticulture

                                .mb-3.col-md-4.input-field
                                    label.form-label(for='availability') Availability
                                    select#status.select2.form-select(name="availability")
                                        option(value='available' selected=produce.availability==="available") Available
                                        option(value='booked' selected=produce.availability==="booked") Booked
                                        option(value='N/A' selected=produce.availability==="N/A") N/A

                                .mb-3.col-md-4.input-field
                                    label.form-label(for='modeofdelivery') Mode of Delivery
                                    select#status.select2.form-select(name="modeofdelivery")
                                        option(value='Pickup & Home Delivery' selected=produce.availability==="Pickup & Home Delivery") Pickup & Home Delivery
                                        option(value='Pickup' selected=produce.availability==="Pickup") Pickup
                                        option(value='Home Delivery' selected=produce.availability==="Home Delivery") Home Delivery

                                .mb-3.col-md-4.input-field
                                    label.form-label(for='quantity') Quantity
                                    .input-group
                                        input#quantity.form-control(type='number' min=0 name='quantity' value=produce.quantity required)
                                        span.input-group-text Unit
                                        .invalid-feedback All field are required (Min=0)
                                        .valid-feedback Looks good!

                                .mb-3.col-md-4.input-field
                                    label.form-label(for='price') Unit Price
                                    .input-group
                                        input#price.form-control(type="number" name='price' value=produce.price required)
                                        span.input-group-text Ugx
                                        .invalid-feedback All field are required
                                        .valid-feedback Looks good!


                            .mt-2
                                button.btn.btn-success.me-2(type='submit')
                                    | Save changes
                                a.btn.btn-outline-danger(type='reset' href="/uf/uploaded") Cancel