extends uf_layout.pug
//- extends ao_layout.pug 
block content 
    .container-fluid.mt-3
        //- select.form-select.mb-3
        //-     option(value="") Apply filter
        //-     option(value="farmerone") Farmer One
        //-     option(value="urbanfarmer") Urban Farmer 
        //-     //- option(value="generalpublic") General Public 

    if produce.length>0
        table.table.table-striped.table-hover
            thead
                tr
                    th.text-center(scope='col') #
                    //.text-center- th(scope="col") 
                    th.text-center(scope='col') Preview
                    th.text-center(scope='col') Product
                    th.text-center(scope="col") Produce Type
                    th.text-center(scope='col') Price
                    th.text-center(scope='col') Units
                    th.text-center(scope='col') Mode of Delivery
                    th.text-center(scope='col') Payment Method
                    th.text-center(scope='col') Availabilty
                    th.text-center(scope='col') Status
                    th.text-center.text-success(scope='col') Update
                    th.text-center.text-danger(scope='col') Delete


            tbody
                each product,index in produce
                    tr
                        th(scope='row') #{index+1}
                        td
                            img(src="/"+product.produceimg alt="" srcset="" height="35")
                        td.text-center #{product.producename}
                        td.text-center #{product.producetype}
                        td.text-center #{product.price}
                        td.text-center #{product.quantity}
                        td.text-center #{product.modeofdelivery}
                        td.text-center #{product.payment} 

                        if product.availability==="N/A"
                            td.text-center.text-danger.fw-bold #{product.availability} 
                        else if product.availability==="booked"
                            td.text-center.text-warning #{product.availability} 
                        else 
                            td.text-center #{product.availability} 


                        if product.status==="approved"
                            td.text-success.text-center.fw-bold #{product.status} 
                        else 
                            td.text-warning.text-center #{product.status} 

                        td                          
                            a(href="" data-bs-toggle="modal" data-bs-target="#productupdate"+product._id)
                                span.material-icons-outlined.ms-3  edit
                        td 
                            form(action="/uf/delete" method="post")
                                input(type="hidden" name="id" value=product.id)
                                button.btn.btn-outline-danger.border-0(type="submit") 
                                    span.material-icons-outlined.ms-3  delete

                    //-* Modal
                    .modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' id="productupdate"+product._id)
                        .modal-dialog.modal-dialog-centered.modal-lg
                            .modal-content
                                .modal-body.d-flex
                                    .m-0.p-0
                                        img(src="/"+product.produceimg alt="update img" width="300px")
                                    .card-body.ms-3.my-auto
                                        form#formAccountSettings(method='post' action="/uf/update/"+product._id )
                                            .row
                                                .mb-3.col-6.input-field
                                                    label.form-label(for='producetype') Produce Type
                                                    select#producetype.select2.form-select(name="producetype")
                                                        option(value='poultry' selected=product.producetype==="poultry") Poultry
                                                        option(value='dairy' selected=product.producetype==="dairy") Dairy
                                                        option(value='horticulture' selected=product.producetype==="horticulture") Horticulture

                                                .mb-3.col-6.input-field
                                                    label.form-label(for='availability') Availability
                                                    select#status.select2.form-select(name="availability")
                                                        option(value='available' selected=product.availability==="available") Available
                                                        option(value='booked' selected=product.availability==="booked") Booked
                                                        option(value='N/A' selected=product.availability==="N/A") N/A

                                                .mb-3.col-6.input-field
                                                    label.form-label(for='modeofdelivery') Mode of Delivery
                                                    select#status.select2.form-select(name="modeofdelivery")
                                                        option(value='Pickup & Home Delivery' selected=product.modeofdelivery==="Pickup & Home Delivery") Pickup & Home Delivery
                                                        option(value='Pickup' selected=product.modeofdelivery==="Pickup") Pickup
                                                        option(value='Home Delivery' selected=product.modeofdelivery==="Home Delivery") Home Delivery

                                                .mb-3.col-6.input-field
                                                    label.form-label(for='quantity') Quantity
                                                    .input-group
                                                        input#quantity.form-control(type='number' min=0 name='quantity' value=product.quantity required)
                                                        span.input-group-text Unit
                                                        .invalid-feedback All field are required (Min=0)
                                                        .valid-feedback Looks good!

                                                .mb-3.col-6.input-field
                                                    label.form-label(for='price') Unit Price
                                                    .input-group
                                                        input#price.form-control(type="number" name='price' value=product.price required)
                                                        span.input-group-text Ugx
                                                        .invalid-feedback All field are required
                                                        .valid-feedback Looks good!




                                            .mt-2
                                                button.btn.btn-success.me-2(type='submit')
                                                    | Save changes
                                                button.btn.btn-outline-danger(type='button' data-bs-dismiss="modal") Cancel 
    else 
        h3.text-center.mt-5.p-5.text-muted No Produce in Database
        h3.text-center(style="font-size:100px") 😒


