extends ao_layout.pug

block content 
    .container-fluid
        if produces.length>0
            .justify-content-center.d-flex.my-4
                .card.mx-3.border-primary
                    .card-body
                        h5.card-title.text-primary Projected Sales
                        .d-flex.justify-content-center.mt-3.top
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-primary.bg-primary.bg-opacity-10.rounded-circle(style="font-size:3rem") shopping_cart
                            .items.mt-2 
                                h5 #{new Intl.NumberFormat().format(totalD.totalQuantity+totalP.totalQuantity+totalH.totalQuantity)} Units
                                //- p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold.text-primary #{totalH.totalQuantity}
                                h6 Dairy: 
                                    span.fw-bold.text-primary #{totalD.totalQuantity}
                                h6 Poultry:
                                    span.fw-bold.text-primary #{totalP.totalQuantity}

                .card.mx-3
                    .card-body
                        h5.card-title.text-success Projected Revenue
                        .d-flex.justify-content-center.mt-3
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-success.bg-success.bg-opacity-10.rounded-circle(style="font-size:3rem") paid
                            .items.mt-2 
                                h5 #{new Intl.NumberFormat().format( totalH.totalCost+totalD.totalCost+totalP.totalCost)} UGX
                                //- p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold.text-success  #{new Intl.NumberFormat().format(totalH.totalCost)}
                                h6 Dairy: 
                                    span.fw-bold.text-success #{new Intl.NumberFormat().format(totalD.totalCost)}
                                h6 Poultry: 
                                    span.fw-bold.text-success #{new Intl.NumberFormat().format(totalP.totalCost)}
                .card.mx-3.border-danger
                    .card-body
                        h5.card-title Current Revenue
                        .d-flex.justify-content-center.mt-3
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-danger.bg-danger.bg-opacity-10.rounded-circle(style="font-size:3rem") payments
                            .items 
                                h5 #{new Intl.NumberFormat().format( totalHO.totalCost+totalDO.totalCost+totalPO.totalCost)} UGX
                                - const percentage=(totalHO.totalCost+totalDO.totalCost+totalPO.totalCost)/(totalH.totalCost+totalD.totalCost+totalP.totalCost)
                                p 
                                    span.text-success.fw-bold.text-decoration-underline #{percentage.toFixed(2)}% 
                                        span.material-icons-outlined keyboard_double_arrow_up

                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold.text-danger  #{new Intl.NumberFormat().format(totalHO.totalCost)}
                                h6 Dairy: 
                                    span.fw-bold.text-danger #{new Intl.NumberFormat().format(totalDO.totalCost)}
                                h6 Poultry: 
                                    span.fw-bold.text-danger #{new Intl.NumberFormat().format(totalPO.totalCost)}

                .card.mx-3.border-warning
                    .card-body
                        h5.card-title.text-warning Team
                        .d-flex.justify-content-center.mt-3.align-middle
                            span.fs-1.material-icons-outlined.mx-3.p-3.text-warning.bg-warning.bg-opacity-10.rounded-circle(style="font-size:3rem") groups
                            .items.mt-2
                                h5 #{new Intl.NumberFormat().format(totalFO + totalUF + totalGP)} Users
                                //- p 12% increase
                        .mt-4
                            .text-center
                                h6 Farmer Ones: 
                                    span.fw-bold.text-warning #{totalFO}
                                h6 Urban Farmers: 
                                    span.fw-bold.text-warning #{totalUF}
                                h6 Customers: 
                                    span.fw-bold.text-warning #{totalGP}

        .producttable.mx-5
            .container-fluid.mt-3.p-4
                h5 Top Selling
                table.table.table-striped.table-sm
                    thead
                        tr
                            th(scope='col') #
                            //- th(scope="col") 
                            th(scope='col') Preview
                            th(scope='col') Product
                            th(scope="col") Produce Type
                            th(scope='col') Price
                            th(scope='col') Mode of Delivery
                            th(scope='col') Payment Method
                            th(scope='col') Owner
                            th(scope="col") Details

                    tbody
                        if produces.length>0
                            each product,index in produces
                                tr
                                    th(scope='row') #{index+1}
                                    td
                                        img(src="/"+product.produceimg alt="" srcset="" height="35")
                                    td #{product.producename}
                                    td #{product.producetype}
                                    td #{product.price}
                                    td #{product.modeofdelivery}
                                    td #{product.payment} 
                                    td.fst-italic.text-muted #{product.fullname}
                                    td 
                                        a(href="" data-bs-toggle="modal" data-bs-target="#productpage"+product._id)
                                            span.material-icons-outlined.ms-3  info


                                //-* Modal
                                .modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' id="productpage"+product._id)
                                    .modal-dialog.modal-dialog-centered.modal-lg
                                        .modal-content
                                            .modal-body
                                                .container-fluid.d-flex.flex-sm-row.justify-content-center
                                                    .body.d-flex.rounded
                                                        .img.me-3
                                                            img.rounded(src='/'+product.produceimg alt='' srcset='' width='300px' height='300px')
                                                            .price.fw-bold.mt-4.text-center UGX #{product.price}/-  

                                                        .details.ms-3
                                                            .title
                                                                h3.text-capitalize #{product.producename}
                                                                p.text-capitalize #{product.organic} #{product.producename}
                                                            .stars.my-2.text-warning
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star
                                                                span.material-icons-outlined star_half
                                                            .decription
                                                                h5 Lorem ipsum dolor sit amet.
                                                                p
                                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                    | Blanditiis soluta odit totam nam maiores in vel,
                                                                    | doloribus nulla ab esse!

                                                                p.btn.btn-outline-success.btn-sm.me-3 #{product.payment}
                                                                p.btn.btn-outline-success.btn-sm #{product.modeofdelivery}
                                                                p.text-capitalize #{product.availability}
                                                            //- .input-group.mb-3
                                                            //-     span#quantity.input-group-text Units
                                                            //-     input.form-control(type='number' value='1' aria-label='quantity' aria-describedby='quantity')
                                                            .phone.d-flex
                                                                p.mx-auto 
                                                                    span.material-icons-outlined phone 
                                                                    a(href="#") +256 #{user.phonenumber}
                                                                p.mx-auto
                                                                    span.material-icons-outlined mail 
                                                                    a.text-decoration-none(href="mailto:"+user.email) #{user.email}


                                                            //- .my-2
                                                            //-     button.btn.btn-success(type='button')
                                                            //-         | Add to Cart


                        else 
                            tr 
                                th(scope="row") 0
                                td.text-center.text-danger(colspan="100") No Uploaded Produce


            //- p.text-center
            //-     a.text-decoration-none.opacity-50(href="/ao/products") << View All Products >>


        .producttable.mx-5
            .container-fluid.mt-3
                h5.pt-3 Recent Orders
                if orders
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th.text-center(scope='col') #
                                //.text-center- th(scope="col") 
                                th.text-center(scope='col')
                                th.text-center(scope='col') Product                
                                th.text-center(scope='col') Units
                                th.text-center(scope="col") Total
                                th.text-center(scope='col') Customer
                                th.text-center(scope='col') Seller
                                th.text-center(scope='col') Payment Method
                                th.text-center(scope='col') Delivery
                                th.text-center(scope='col') Status



                        tbody
                            each order,index in orders
                                tr 
                                    td.text-center #{index+1}
                                    td 
                                        img(src="/"+order.produceimg width="35") 
                                    td.text-center #{order.producename}                 
                                    td.text-center #{order.quantity}
                                    td.text-center #{new Intl.NumberFormat().format(order.price*order.quantity)}

                                    - const email=order.customer.split(" ")
                                    td.text-center
                                        |#{email[0]}
                                        span.material-icons-outlined.text-info.opacity-50( data-bs-toggle='tooltip' data-bs-title=email[1]+" "+email[2]) info

                                    if ufarmers
                                        each farmer in ufarmers
                                            if order.seller==farmer._id 
                                                td.text-center #{farmer.firstname} #{farmer.lastname} 

                                    td.text-center #{order.payment} 
                                    td.text-center #{order.modeofdelivery} 

                                    if order.status=="complete"                        
                                        td 
                                            span.bg-success.badge.rounded-pill.d-flex.justify-content-center #{order.status}
                                    else if order.status=="pending"                                 
                                        td
                                            span.bg-warning.badge.rounded-pill.d-flex.justify-content-center #{order.status}
                                    else                                 
                                        td 
                                            span.bg-danger.badge.rounded-pill.d-flex.justify-content-center #{order.status} 

                    //- p.text-center
                    //-     a.text-decoration-none(href="/fo/orders") << View All Orders >>





