extends ao_layout.pug

block content 
    .container-fluid
        if produce.length>0
            .justify-content-center.d-flex.my-4
                .card.p-2.mx-3.border-4.border-primary
                    .card-body
                        h5.card-title Projected Sales
                        .d-flex.justify-content-center.mt-3
                            span.material-icons-outlined.mx-3.p-3.text-primary.bg-primary.bg-opacity-10.rounded-circle(style="font-size:3rem") shopping_cart
                            .items 
                                h4 #{new Intl.NumberFormat().format(totalH.totalQuantity + totalD.totalQuantity + totalP.totalQuantity)} Units
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold #{totalH.totalQuantity}
                                h6 Dairy: 
                                    span.fw-bold #{totalD.totalQuantity}
                                h6 Poultry:
                                    span.fw-bold #{totalP.totalQuantity}

                .card.p-2.mx-3.border-4
                    .card-body
                        h5.card-title Projected Revenue
                        .d-flex.justify-content-center.mt-3
                            span.material-icons-outlined.mx-3.p-3.text-success.bg-success.bg-opacity-10.rounded-circle(style="font-size:3rem") paid
                            .items 
                                h4 #{new Intl.NumberFormat().format(totalH.totalCost + totalD.totalCost + totalP.totalCost)} UGX
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Horticulture: 
                                    span.fw-bold  #{new Intl.NumberFormat().format(totalH.totalCost)}
                                h6 Dairy: 
                                    span.fw-bold #{new Intl.NumberFormat().format(totalD.totalCost)}
                                h6 Poultry: 
                                    span.fw-bold #{new Intl.NumberFormat().format(totalP.totalCost)}

                .card.p-2.mx-3.border-4.border-warning
                    .card-body
                        h5.card-title Team
                        .d-flex.justify-content-center.mt-3.align-middle
                            span.material-icons-outlined.mx-3.p-3.text-warning.bg-warning.bg-opacity-10.rounded-circle(style="font-size:3rem") groups
                            .items 
                                h4 #{new Intl.NumberFormat().format(totalFO + totalUF + totalGP)} Users
                                p 12% increase
                        .mt-4
                            .text-center
                                h6 Farmer Ones: 
                                    span.fw-bold #{totalFO}
                                h6 Urban Farmers: 
                                    span.fw-bold #{totalUF}
                                h6 Customers: 
                                    span.fw-bold #{totalGP}

        .producttable
            .container-fluid.mt-3.p-4
                h5 Top Selling
                table.table.table-striped
                    thead
                        tr
                            th(scope='col') #
                            //- th(scope="col") 
                            th(scope='col') Preview
                            th(scope='col') Product
                            th(scope="col") Produce Type
                            th(scope='col') Price
                            th(scope='col') Mode of Delivery
                            th(scope='col') Payment Method
                            th(scope='col') Owner

                    tbody
                        if produce.length>0
                            each product,index in produce
                                tr
                                    th(scope='row') #{index+1}
                                    td
                                        img(src="/"+product.produceimg alt="" srcset="" height="35")
                                    td #{product.producename}
                                    td #{product.producetype}
                                    td #{product.price}
                                    td #{product.modeofdelivery}
                                    td #{product.payment} 
                                    td.fst-italic.text-muted #{product.fullname}
                        else 
                            tr 
                                th(scope="row") 0
                                td.text-center.text-danger(colspan="100") No Uploaded Produce