extends ao_layout.pug 

block content 
    if messages
        each message in messages
            .alert.alert-success.alert-dismissible.fade.show(role="alert") 
                .d-flex.justify-content-center
                    span #{message}
                    button.btn-close.pe-5(type="button" data-bs-dismiss="alert")
    .container-fluid.mt-3
        //- select.form-select.mb-3
        //-     option(value="") Apply filter
        //-     option(value="active") Active
        //-     option(value="retired") Retired
        //- option(value="generalpublic") General Public 



        table.table
            thead
                tr
                    th(scope='col') #
                    th
                    th(scope='col') Name
                    th(scope='col') Unique ID
                    th(scope='col') Email
                    th(scope='col') Phone 
                    th(scope='col') Gender
                    th(scope='col') Ward                     
                    th(scope='col') Status
                    th(scope='col') Edit



            tbody
                if farmerones.length > 0
                    each farmerone,index in farmerones
                        if farmerone.status == "retired"
                            tr.text-muted.text-decoration-line-through
                                th(scope='row') #{index+1}
                                td 
                                    img(src="/"+farmerone.avatar height="35px" style="border-radius: 50%")
                                td    #{farmerone.firstname} #{farmerone.lastname}
                                td #{farmerone.uniquenumber}
                                td #{farmerone.email}
                                td +256 #{farmerone.phonenumber}
                                td #{farmerone.gender}
                                td #{farmerone.ward}                                
                                td.text-danger #{farmerone.status}
                                td 
                                    a(href="" data-bs-toggle="modal" data-bs-target="#fostatus"+farmerone._id)
                                        span.material-icons-outlined.ms-3  edit

                        else 
                            tr
                                th(scope='row') #{index+1}
                                td 
                                    img(src="/"+farmerone.avatar height="35px" style="border-radius: 50%")
                                td    #{farmerone.firstname} #{farmerone.lastname}
                                td #{farmerone.uniquenumber}
                                td #{farmerone.email}
                                td +256 #{farmerone.phonenumber}
                                td #{farmerone.gender}
                                td #{farmerone.ward}                            
                                td #{farmerone.status}
                                td 
                                    a(href="" data-bs-toggle="modal" data-bs-target="#fostatus"+farmerone._id)
                                        span.material-icons-outlined.ms-3  edit


                        //-* Modal
                        .modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' id="fostatus"+farmerone._id)
                            .modal-dialog.modal-dialog-centered.modal-lg
                                .modal-content
                                    .modal-body.d-flex
                                        .m-0.p-0
                                            img(src="/"+farmerone.avatar alt="update img" width="300px")
                                        .card-body.ms-3.my-auto
                                            form#formAccountSettings(method='post' action="/ao/foupdate/"+farmerone._id )

                                                .mb-3.input-field
                                                    label.form-label(for='status') Farmer One Status
                                                    select#status.select2.form-select(name="status")
                                                        option(value='active' selected=farmerone.status==="active") Active
                                                        option(value='retired' selected=farmerone.status==="retired") Retired

                                                .mb-3.input-field
                                                    label.form-label(for='phonenumber') Phonenumber
                                                    .input-group.input-group-merge
                                                        span.input-group-text UG (+256)
                                                        input#phonenumber.form-control(type='text' name='phonenumber' value=farmerone.phonenumber required)


                                                .mt-2
                                                    button.btn.btn-success.me-2(type='submit')
                                                        | Save changes
                                                    button.btn.btn-outline-danger(type='button' data-bs-dismiss="modal") Cancel 




                else 
                    tr 
                        th(scope='row') 0
                        td.text-center(colspan="7") No Farmers Registered


