extends ao_layout.pug 

block content 
    .container-fluid.mt-3
        //- select.form-select.mb-3
        //-     option(value="") Apply filter
        //-     option(value="farmerone") Farmer One
        //-     option(value="urbanfarmer") Urban Farmer 
        //-     //- option(value="generalpublic") General Public 

        table.table.table-striped
            thead
                tr
                    th(scope='col') #
                    //- th(scope="col") 
                    th(scope='col') Preview
                    th(scope='col') Product
                    th(scope="col") Produce Type
                    th(scope='col') Price
                    th(scope='col') Mode of Delivery
                    th(scope='col') Payment Method
                    th(scope='col') Owner

            tbody
                if produce.length>0
                    each product,index in produce
                        tr
                            th(scope='row') #{index+1}
                            td
                                img(src="/"+product.produceimg alt="" srcset="" height="35")
                            td #{product.producename}
                            td #{product.producetype}
                            td #{product.price}
                            td #{product.modeofdelivery}
                            td #{product.payment} 
                            td.fst-italic.text-muted #{product.fullname}
                else 
                    tr 
                        th(scope="row") 0
                        td.text-center.text-danger(colspan="100") No Uploaded Produce


                        //- td 120
                        //- td Ugx 180000

                //- tr
                //-     th(scope='row') 2
                //-     td 
                //-         img(src="/images/product-2.png" alt="" srcset="" height="35")
                //-     td Tomatoes
                //-     td Ugx 300
                //-     td 300
                //-     td Ugx 90000
                //- tr
                //-     th(scope='row') 3
                //-     td
                //-         img(src="/images/product-3.png" alt="" srcset="" height="40")

                //-     td Oranges
                //-     td Ugx 500
                //-     td 190
                //-     td Ugx 195000
                //- tr
                //-     th(scope='row') 4
                //-     td
                //-         img(src="/images/product-4.png" alt="" srcset="" height="35")
                //-     td Milk
                //-     td Ugx 2000
                //-     td 120
                //-     td Ugx 240000

